#myPicture {
  text-align: center;
}

#myPicture img {
  display: inline-block;
  margin: auto;
  width: 20%;
}

h3 {
  text-align: center;
}

body {
  background-image: url("http://www.designyourway.net/diverse/darkpat/COLOURlovers.com-Background1.jpg");
}

#aboutMe {
  color: #ff4d4d;
  font-weight: bold;
}

#border {
  text-align: center;
}

#border h5 {
  color: white;
  border: 3px solid red;
  background: darkred;
  border-radius: 4px;
  display: inline;
}

h1 {
  color: white;
}

h3 {
  color: white;
}

h4 {
  color: white;
}

p {
  color: white;
}
